@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
:root{
    --font1: Verdana, Gevana, tahoma, sans-serif;
    --font2: 'Passion One', sans-serif;
    --font3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
h1{
    font-family: var(--font2);
   
}

html,body{
    background-color: darkgray;
    min-height: 100vh ;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 70px;
    font-variant: small-caps;
    font-size: 10vw;
    
}
header p{
    padding-bottom: 50px;
   
}
a{
    color: white;
    text-decoration:none;
    font-weight: bold;
    transition-duration: 0.1s;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
   padding-top: 5px; 
  
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; 
    padding-left: 50px;
   font-size: 3.5vw;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    
    background-color: rgb(75, 73, 73);
    color: white;
    box-shadow: inset 6px 6px 13px 0px  rgba(0, 0, 0, 0.493);

}
.imagem p{
   display: inline-block;
   padding: 5px;
   border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.301);
}
a:hover{
    text-decoration: underline;
}
section p {
    font-family: var(--font3);
}
section#img01{
    background-image: url(pacote-d012/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section#img02{
    background-image: url(pacote-d012/background002.jpg); 
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

